* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    gap: 20px;
    padding: 20px;
}

header span {
    cursor: pointer;
}

header span input {
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 20px;
    opacity: 0;
}

