* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #0f0f0f;
    color: #fff;
}

/* Header */
header {
    background: #0f0f0f;
    padding: 0 16px;
    height: 56px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #303030;
}